Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'

chore(ghec): add CodeQL, Dependabot, CODEOWNERS, ops/k8s README, deploy runbook; allow ops/k8s in .gitignore
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-gke.yml
  .gitignore
  CODEOWNERS
  ops/k8s/README.md
Labels: area:infra, area:config

chore(ghec): add helper scripts to ensure ruleset, enable security features, and create environments
  scripts/ghec/README.md
Labels: area:infra

feat: implement V1 Guardrails (DEBT.md, GUARDRAILS.md, PR template, scope-guard CI)
  .github/workflows/scope-guard.yml
  DEBT.md
  docs/GUARDRAILS.md
Labels: area:infra, area:docs

docs: update PR template and README.md with V1 Guardrails
  .github/pull_request_template.md
  README.md
Labels: area:infra, area:docs

test: violate scope (should fail CI)
  infra/cloudwatch/test-alarm.yaml
Labels: none

docs: V1 Implementation Status report (5 In-Scope items audit)
  apps/seedtest_api/docs/V1_IMPLEMENTATION_STATUS.md
Labels: none

feat(pdf): implement exam result PDF renderer (Phase 1 - P0)
  apps/seedtest_api/routers/results.py
  infra/pdf_lambda/PDF_RENDERER_STATUS.md
  infra/pdf_lambda/exam_renderer.py
  infra/pdf_lambda/test_pdf_gen.py
Labels: none

feat(db): Lock attempt VIEW V1 schema with explicit casting + smoke tests
  apps/seedtest_api/alembic/versions/20251101_0900_attempt_view_lock.py
  apps/seedtest_api/docs/IRT_STANDARDIZATION.md
  apps/seedtest_api/tests/test_attempt_view_smoke.py
Labels: area:testing, area:database

feat(db): Add idempotent migration helpers + local validation
  apps/seedtest_api/alembic/versions/20251031_2110_attempt_view.py
  apps/seedtest_api/alembic/versions/20251101_0900_attempt_view_lock.py
  apps/seedtest_api/tests/test_attempt_view_smoke.py
Labels: area:testing, area:database

docs(db): Add comprehensive deployment guide for attempt VIEW V1 lock
  DEPLOYMENT_GUIDE_attempt_view_lock.md
Labels: area:docs

docs(db): Update PR summary and deployment guide with Korean template
  DEPLOYMENT_GUIDE_attempt_view_lock.md
  PR_SUMMARY_attempt_view_lock.md
Labels: area:docs

chore(gitignore): ignore coverage/venv/history and local artifacts
  .gitignore
Labels: area:config

fix(ci): Add root ops/k8s wrappers + relax scope guard for V1-relevant infra
  .github/workflows/scope-guard.yml
  ops/k8s/cron/configmap.yaml
  ops/k8s/cron/kustomization.yaml
  ops/k8s/r-irt-plumber/kustomization.yaml
  ops/k8s/r-irt-plumber/overlays/internal/kustomization.yaml
  ops/k8s/r-plumber/kustomization.yaml
  ops/k8s/r-plumber/overlays/internal/kustomization.yaml
Labels: area:infra

docs(ops): Add staging/production/runbook templates + ops/k8s README
  .gitignore
  PRODUCTION_CR_TEMPLATE.md
  RUNBOOK_attempt_view_lock.md
  STAGING_EVIDENCE_TEMPLATE.md
  ops/k8s/README.md
Labels: area:infra, area:docs, area:config

fix(ops): Correct kustomize wrapper relative paths
  ops/k8s/r-irt-plumber/kustomization.yaml
  ops/k8s/r-irt-plumber/overlays/internal/kustomization.yaml
  ops/k8s/r-plumber/kustomization.yaml
  ops/k8s/r-plumber/overlays/internal/kustomization.yaml
Labels: area:infra

fix(ops): Final kustomize path corrections
  ops/k8s/cron/configmap.yaml
  ops/k8s/cron/kustomization.yaml
  ops/k8s/r-irt-plumber/overlays/internal/kustomization.yaml
  ops/k8s/r-plumber/overlays/internal/kustomization.yaml
Labels: area:infra

fix(ops): Make overlay wrappers buildable
  ops/k8s/r-irt-plumber/overlays/internal/delete-ingress.yaml
  ops/k8s/r-irt-plumber/overlays/internal/kustomization.yaml
  ops/k8s/r-plumber/overlays/internal/delete-ingress.yaml
  ops/k8s/r-plumber/overlays/internal/kustomization.yaml
Labels: area:infra

ci(k8s): Stabilize kubeconform validation
  .github/workflows/k8s-validate.yml
Labels: area:infra

fix(ci): Normalize K8S_VERSION and allow ops/k8s in scope guard
  .github/workflows/k8s-validate.yml
  .github/workflows/scope-guard.yml
Labels: area:infra

fix(k8s): Add portal_front/ops/k8s manifests to repo
  .gitignore
  portal_front/ops/k8s/r-irt-plumber/deployment.yaml
  portal_front/ops/k8s/r-irt-plumber/kustomization.yaml
  portal_front/ops/k8s/r-irt-plumber/networkpolicy.yaml
  portal_front/ops/k8s/r-irt-plumber/overlays/internal/delete-ingress.yaml
  portal_front/ops/k8s/r-irt-plumber/overlays/internal/kustomization.yaml
  portal_front/ops/k8s/r-irt-plumber/servicemonitor.yaml
  portal_front/ops/k8s/r-plumber/deployment.yaml
  portal_front/ops/k8s/r-plumber/kustomization.yaml
  portal_front/ops/k8s/r-plumber/networkpolicy.yaml
  portal_front/ops/k8s/r-plumber/overlays/internal/delete-ingress.yaml
  portal_front/ops/k8s/r-plumber/overlays/internal/kustomization.yaml
  portal_front/ops/k8s/r-plumber/servicemonitor.yaml
Labels: area:frontend, area:config

fix(ci): Sanitize artifact names in K8s validation
  .github/workflows/k8s-validate.yml
Labels: area:infra

style: normalize docstring whitespace in features_kpi_cols migration (Black)
  apps/seedtest_api/alembic/versions/20251031_2120_features_kpi_cols.py
Labels: area:database

style(isort): fix import grouping in test_r_irt_client.py
  apps/seedtest_api/tests/test_r_irt_client.py
Labels: area:testing

style(isort): apply import sorting across seedtest_api (routers, services, schemas, jobs, tests, migrations); run black for consistency
  apps/seedtest_api/alembic/versions/20251030_1305_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1400_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1500_irt_tables.py
  apps/seedtest_api/alembic/versions/20251030_1510_metrics_backfill_tables.py
  apps/seedtest_api/alembic/versions/20251031_1600_minimal_schema_tables.py
  apps/seedtest_api/alembic/versions/20251031_2000_session_user_org.py
  apps/seedtest_api/alembic/versions/20251031_2100_question_table.py
  apps/seedtest_api/alembic/versions/20251031_2110_attempt_view.py
  apps/seedtest_api/alembic/versions/20251031_2120_features_kpi_cols.py
  apps/seedtest_api/alembic/versions/20251101_0900_attempt_view_lock.py
  apps/seedtest_api/jobs/mirt_calibrate.py
  apps/seedtest_api/jobs/ops_verify.py
  apps/seedtest_api/jobs/recompute_weekly_kpi.py
  apps/seedtest_api/jobs/verify_counts.py
  apps/seedtest_api/models/session.py
  apps/seedtest_api/routers/analysis.py
  apps/seedtest_api/routers/metrics.py
  apps/seedtest_api/schemas/analysis.py
  apps/seedtest_api/schemas/classroom.py
  apps/seedtest_api/schemas/features.py
  apps/seedtest_api/schemas/interest_goal.py
  apps/seedtest_api/schemas/sessions.py
  apps/seedtest_api/services/analysis_service.py
  apps/seedtest_api/services/db.py
  apps/seedtest_api/services/metrics.py
  apps/seedtest_api/services/metrics_calculator.py
  apps/seedtest_api/services/topic_ability_service.py
  apps/seedtest_api/services/weekly_kpi_job.py
  apps/seedtest_api/test_session_ownership.py
  apps/seedtest_api/tests/test_core_domain_models.py
  apps/seedtest_api/tests/test_irt_standardization.py
  apps/seedtest_api/tests/test_irt_theta_api.py
  apps/seedtest_api/tests/test_metrics_api.py
  apps/seedtest_api/tests/test_metrics_compute.py
  apps/seedtest_api/tests/test_metrics_theta_mode.py
  apps/seedtest_api/tests/test_metrics_weekly_recompute.py
  apps/seedtest_api/tests/test_mirt_calibrate_job.py
  apps/seedtest_api/tests/test_query_integration.py
Labels: area:testing, area:database

style(isort): fix import order in app/api routers and main.py
  apps/seedtest_api/app/api/routers/classrooms.py
  apps/seedtest_api/app/api/routers/features.py
  apps/seedtest_api/app/api/routers/goals.py
  apps/seedtest_api/app/api/routers/sessions.py
  apps/seedtest_api/app/main.py
Labels: none

fix(isort): fix import order in alembic migrations and tests
  apps/seedtest_api/alembic/versions/20251031_2110_attempt_view.py
  apps/seedtest_api/alembic/versions/20251031_2120_features_kpi_cols.py
  apps/seedtest_api/alembic/versions/20251101_0900_attempt_view_lock.py
  apps/seedtest_api/tests/test_query_integration.py
Labels: area:testing, area:database

fix(isort): move alembic imports before sqlalchemy in all migrations
  apps/seedtest_api/alembic/versions/20251030_1200_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1305_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1400_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1500_irt_tables.py
  apps/seedtest_api/alembic/versions/20251030_1510_metrics_backfill_tables.py
  apps/seedtest_api/alembic/versions/20251031_1600_minimal_schema_tables.py
  apps/seedtest_api/alembic/versions/20251031_2000_session_user_org.py
  apps/seedtest_api/alembic/versions/20251031_2100_question_table.py
  apps/seedtest_api/alembic/versions/20251031_2110_attempt_view.py
  apps/seedtest_api/alembic/versions/20251031_2120_features_kpi_cols.py
  apps/seedtest_api/alembic/versions/20251101_0900_attempt_view_lock.py
Labels: area:database

fix(isort): move 'import sqlalchemy' before 'from alembic'
  apps/seedtest_api/alembic/versions/20251030_1200_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1305_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1400_metrics_tables.py
  apps/seedtest_api/alembic/versions/20251030_1500_irt_tables.py
  apps/seedtest_api/alembic/versions/20251030_1510_metrics_backfill_tables.py
  apps/seedtest_api/alembic/versions/20251031_1600_minimal_schema_tables.py
  apps/seedtest_api/alembic/versions/20251031_2000_session_user_org.py
  apps/seedtest_api/alembic/versions/20251031_2100_question_table.py
Labels: area:database

fix(isort): remove blank line between sqlalchemy and alembic imports
  apps/seedtest_api/alembic/versions/20251021_0004_tags_column.py
Labels: area:database

docs(deployment): add production/staging deployment scripts for attempt VIEW V1
  DEPLOYMENT_GUIDE_attempt_view_lock.md
  scripts/production/README.md
  scripts/staging/README.md
Labels: area:infra, area:docs

docs(vscode): Add VSCode development environment optimization guide
  docs/DEV_ENVIRONMENT_VSCODE.md
Labels: area:infra, area:docs

docs(deployment): Add production/staging deployment scripts for attempt VIEW V1 (#74)
  DEPLOYMENT_GUIDE_attempt_view_lock.md
  docs/DEV_ENVIRONMENT_VSCODE.md
  scripts/production/README.md
  scripts/staging/README.md
Labels: area:infra, area:docs

fix(scripts): Fix bash syntax error in production rollback script
  scripts/production/rollback_attempt_view.sh
Labels: area:infra

fix(scripts): Fix bash syntax error in production rollback script
  scripts/production/rollback_attempt_view.sh
Labels: area:infra

docs(db): Add DATABASE_SCHEMA_STATUS and DB connection verify script
  apps/seedtest_api/docs/DATABASE_SCHEMA_STATUS.md
  apps/seedtest_api/scripts/verify_db_connection.sh
Labels: none

fix: resolve Session type mismatch in compute_daily_kpis job
  apps/seedtest_api/tests/test_compute_daily_kpis_smoke.py
  portal_front/apps/seedtest_api/jobs/README_compute_daily_kpis.md
  portal_front/apps/seedtest_api/jobs/compute_daily_kpis.py
  portal_front/ops/k8s/cron/compute-daily-kpis.yaml
Labels: area:frontend, area:testing

fix: resolve Session type mismatch in compute_daily_kpis job
  apps/seedtest_api/tests/test_compute_daily_kpis_smoke.py
  portal_front/apps/seedtest_api/jobs/README_compute_daily_kpis.md
  portal_front/apps/seedtest_api/jobs/compute_daily_kpis.py
  portal_front/ops/k8s/cron/compute-daily-kpis.yaml
Labels: area:frontend, area:testing

feat(governance): add production-ready policy system
  .github/workflows/governance-ci.yml
  .rgignore
  dashboards/governance-admin/README.md
  dashboards/governance-admin/package.json
  governance/IMPLEMENTATION_GUIDE.md
  governance/README.md
  governance/bundles/policy_bundle_phase0.yaml
  governance/bundles/policy_bundle_phase1.yaml
  governance/bundles/policy_bundle_prod.yaml
  governance/compiled/policy_bundle_phase0.json
  governance/compiled/policy_bundle_phase1.json
  governance/compiled/policy_bundle_prod.json
  governance/docs/GOVERNANCE_BASED_STRUCTURE.md
  governance/docs/GOVERNANCE_LAYER_DETAILED.md
  governance/docs/GOVERNANCE_LAYER_OPERATIONS.md
  governance/docs/GOVERNANCE_LAYER_SUMMARY.md
  governance/docs/GOVERNANCE_PHILOSOPHY.md
  governance/docs/GOVERNANCE_ROLES_AND_RESPONSIBILITIES.md
  governance/schemas/policy-bundle.schema.json
  governance/scripts/compile.py
  governance/scripts/validate.py
Labels: area:infra

feat(governance): add production-ready policy system
  .github/workflows/governance-ci.yml
  .rgignore
  dashboards/governance-admin/README.md
  dashboards/governance-admin/package.json
  governance/IMPLEMENTATION_GUIDE.md
  governance/README.md
  governance/bundles/policy_bundle_phase0.yaml
  governance/bundles/policy_bundle_phase1.yaml
  governance/bundles/policy_bundle_prod.yaml
  governance/compiled/policy_bundle_phase0.json
  governance/compiled/policy_bundle_phase1.json
  governance/compiled/policy_bundle_prod.json
  governance/docs/GOVERNANCE_BASED_STRUCTURE.md
  governance/docs/GOVERNANCE_LAYER_DETAILED.md
  governance/docs/GOVERNANCE_LAYER_OPERATIONS.md
  governance/docs/GOVERNANCE_LAYER_SUMMARY.md
  governance/docs/GOVERNANCE_PHILOSOPHY.md
  governance/docs/GOVERNANCE_ROLES_AND_RESPONSIBILITIES.md
  governance/schemas/policy-bundle.schema.json
  governance/scripts/compile.py
  governance/scripts/validate.py
Labels: area:infra

feat(governance): ArgoCD-integrated Kustomize deployment
  docs/GOVERNANCE_ROUTE_ACTION_MAPPING.md
  infra/argocd/apps/internal/seedtest-api-governance.yaml
  ops/k8s/governance/README.md
  ops/k8s/governance/base/compiled/policy_bundle_phase0.json
  ops/k8s/governance/base/compiled/policy_bundle_phase1.json
  ops/k8s/governance/base/compiled/policy_bundle_prod.json
  ops/k8s/governance/base/deployment.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/base/networkpolicy.yaml
  ops/k8s/governance/base/patch.env-and-mount.yaml
  ops/k8s/governance/base/patch.reload-rbac.yaml
  ops/k8s/governance/base/service.yaml
  ops/k8s/governance/base/servicemonitor.yaml
  ops/k8s/governance/kustomization.yaml
  ops/k8s/governance/overlays/dev/kustomization.yaml
  ops/k8s/governance/overlays/phase0/kustomization.yaml
  ops/k8s/governance/overlays/phase0/phase0-patch.yaml
  ops/k8s/governance/overlays/phase1/kustomization.yaml
  ops/k8s/governance/overlays/phase1/phase1-patch.yaml
  ops/k8s/governance/overlays/prod/kustomization.yaml
  ops/k8s/governance/overlays/prod/prod-patch.yaml
  ops/k8s/governance/overlays/staging/kustomization.yaml
Labels: area:infra, area:docs
