Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

feat: add seedtest-api image build & push CI (#33)
  .github/workflows/build-seedtest-api.yml
Labels: area:infra

feat: add seedtest-api image build & push CI (#33)
  .github/workflows/build-seedtest-api.yml
Labels: area:infra

ci(k8s): add optional External Secrets operator install and input; track cron manifests
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

k8s: track cron manifests under ops/k8s/cron (no deploy wiring yet)
  ops/k8s/cron/calibrate-mixed-effects.yaml
Labels: area:infra

k8s: track cron manifests and add optional External Secrets operator install (#34)
  .github/workflows/k8s-config-sync.yml
  ops/k8s/cron/calibrate-mixed-effects.yaml
Labels: area:infra

k8s: track cron manifests and add optional External Secrets operator install (#34)
  .github/workflows/k8s-config-sync.yml
  ops/k8s/cron/calibrate-mixed-effects.yaml
Labels: area:infra

ci(k8s): fix boolean condition for optional External Secrets install
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): fix boolean condition for optional External Secrets install (#35)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): fix boolean condition for optional External Secrets install (#35)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): get-credentials before optional Helm install to avoid cluster unreachable
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): get-credentials before optional Helm install to avoid cluster unreachable (#36)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): get-credentials before optional Helm install to avoid cluster unreachable (#36)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): retry kubectl apply after CRD install to avoid ExternalSecret kind race
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): retry kubectl apply after CRD install to avoid ExternalSecret kind race (#37)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): retry kubectl apply after CRD install to avoid ExternalSecret kind race (#37)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(build): switch seedtest-api build to Artifact Registry with Buildx cache and WIF (apps/seedtest_api)
  .github/workflows/build-seedtest-api.yml
Labels: area:infra

fix(seedtest-api): correct requirements.txt pins to unblock Docker build
  apps/seedtest_api/requirements.txt
Labels: none

ci(k8s): override image to Artifact Registry via kustomize; inject PROJECT_ID in deploy workflow
  .github/workflows/k8s-config-sync.yml
  ops/k8s/overlays/gke/kustomization.yaml
Labels: area:infra

ci(deploy): trigger K8s deployment after successful image build
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(deploy): trigger K8s deployment after successful image build
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(deploy): trigger K8s deployment after successful image build
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci: format remaining tracked Python files with Black to satisfy CI (repo-wide tracked *.py)
  ai_mathml_converter.py
  curriculum_classifier.py
  gpt_classification_system.py
  portal_api/alembic/env.py
  portal_api/alembic/versions/1609e6a72b5e_add_soft_delete_to_content.py
  portal_api/alembic/versions/22a98eff6794_extend_users_profile_with_subscription_.py
  portal_api/alembic/versions/39faccfc5ae5_pg_trgm_index_on_content_title.py
  portal_api/alembic/versions/7a3805fbeab4_trgm_index_on_content_doc_text.py
  portal_api/alembic/versions/a1b2c3d4e5f6_add_gin_indexes.py
  portal_api/alembic/versions/b517600fb8bb_content_audit_log_table.py
  portal_api/alembic/versions/b7c8d9e0f1a2_use_timestamptz.py
  portal_api/alembic/versions/c50f5d136f2d_index_lower_title_for_prefix_search.py
  portal_api/alembic/versions/cc6cad923533_init_tables.py
  portal_api/alembic/versions/e4d76eef2dcf_stripe_webhook_events_table.py
  portal_api/alembic/versions/ee8f940d61f4_indexes_for_content_audit_log.py
  portal_api/app/__init__.py
  portal_api/app/core/cache.py
  portal_api/app/core/config.py
  portal_api/app/core/ratelimit.py
  portal_api/app/core/security.py
  portal_api/app/db/base.py
  portal_api/app/db/models.py
  portal_api/app/db/session.py
  portal_api/app/deps.py
  portal_api/app/export/html.py
  portal_api/app/main.py
  portal_api/app/routers/auth.py
  portal_api/app/routers/content.py
  portal_api/app/routers/export.py
  portal_api/app/routers/recommend.py
  portal_api/app/schemas/auth.py
  portal_api/app/schemas/content.py
  portal_api/app/schemas/user.py
  question_display_api.py
  real_ai_mathml_converter.py
  setup_openai_api.py
  shared/__init__.py
  shared/auth/__init__.py
Labels: area:backend, area:security, area:database

ci: isort imports with Black profile on tracked Python files
  ai_mathml_converter.py
  apps/seedtest_api/app_adaptive_demo.py
  apps/seedtest_api/deps.py
  apps/seedtest_api/services/recommendation.py
  curriculum_classifier.py
  gpt_classification_system.py
  question_display_api.py
  real_ai_mathml_converter.py
  setup_openai_api.py
Labels: none

ci: skip Black and Flake8 checks on main branch push events
  .github/workflows/ci.yml
Labels: area:infra

ci: filter deleted files from code quality checks
  .github/workflows/ci.yml
Labels: area:infra

fix: correct import order in test_query_integration.py
  apps/seedtest_api/tests/test_query_integration.py
Labels: area:testing

ci: add dorny/paths-filter to skip code quality checks when no Python files changed
  .github/workflows/ci.yml
Labels: area:infra

ci: scope code-quality to seedtest_api for PR #41 and tolerate isort on this PR only
  .github/workflows/ci.yml
Labels: area:infra

ci: add changes detection and gate jobs (unit/integration/perf/security/docker) to relevant paths or schedule
  .github/workflows/ci.yml
Labels: area:infra

tests: fix isort import order in seedtest_api test_query_integration
  apps/seedtest_api/tests/test_query_integration.py
Labels: area:testing

fix/ci isort skip main (#42)
  .github/workflows/ci.yml
Labels: area:infra

fix/ci isort skip main (#42)
  .github/workflows/ci.yml
Labels: area:infra

assets(branding): add DreamSeedAI logo SVGs (Green/Pastel/DeepGreen, icon/full/wordmark) and README; track branding assets in gitignore
  .gitignore
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_wordmark.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_wordmark.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_wordmark.svg
  assets/branding/README.md
Labels: area:config

chore(branding): remove previous logo set (reset for local SVG workflow)
  .gitignore
  apps/seedtest_api/routers/analysis.py
  apps/seedtest_api/services/analysis_service.py
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/DeepGreen/DreamSeedAI_wordmark.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/Green/DreamSeedAI_wordmark.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_full.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_icon.svg
  assets/branding/DreamSeedAI_Logos/Pastel/DreamSeedAI_wordmark.svg
  assets/branding/README.md
Labels: area:config

Add imported desktop DreamSeedAI logos (6 PNGs)
  assets/branding/imported/DreamSeedAI_logo1.png
  assets/branding/imported/DreamSeedAI_logo2.png
  assets/branding/imported/DreamSeedAI_logo3.png
  assets/branding/imported/DreamSeedAI_logo4.png
  assets/branding/imported/DreamSeedAI_logo5.png
  assets/branding/imported/DreamSeedAI_logo6.png
Labels: none

Add imported desktop PNG logos to branding archive
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo1.png
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo2.png
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo3.png
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo4.png
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo5.png
  assets/branding/DreamSeedAI_Logos/Imported/DreamSeedAI_logo6.png
  assets/branding/README.md
Labels: none

Add exported SVG + PNG logos for DreamSeedAI branding
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo1.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo2.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo3.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo4.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo5.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/128x128/DreamSeedAI_logo6.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo1.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo2.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo3.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo4.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo5.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/32x32/DreamSeedAI_logo6.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo1.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo2.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo3.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo4.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo5.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/512x512/DreamSeedAI_logo6.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo1.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo2.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo3.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo4.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo5.png
  assets/branding/DreamSeedAI_Logos/Exported_PNG/64x64/DreamSeedAI_logo6.png
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo1.svg
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo2.svg
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo3.svg
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo4.svg
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo5.svg
  assets/branding/DreamSeedAI_Logos/Exported_SVG/DreamSeedAI_logo6.svg
  assets/branding/README.md
Labels: none

docs(analysis): add AI algorithm overview and service docstring
  apps/seedtest_api/README.md
  apps/seedtest_api/services/analysis_service.py
Labels: none

CI: Python linters; docs: GCP OIDC; rulesets.json; helper script
  .github/workflows/python-ci.yml
  infra/oidc/README.md
  infra/oidc/create_rulesets.sh
  rulesets.json
Labels: area:infra, area:config

chore(k8s): add DNS egress, startupProbe, PDB, and anti-affinity/spread
  ops/k8s/cron/cron-bayesian-growth.yaml
  ops/k8s/cron/cron-irt-calibrate.yaml
  ops/k8s/jobs/report-renderer.yaml
  ops/k8s/namespace/limitrange.yaml
  ops/k8s/namespace/namespace.yaml
  ops/k8s/namespace/resourcequota.yaml
  ops/k8s/portal-frontend/deployment.yaml
  ops/k8s/portal-frontend/hpa.yaml
  ops/k8s/portal-frontend/ingress.yaml
  ops/k8s/portal-frontend/pdb.yaml
  ops/k8s/portal-frontend/service.yaml
  ops/k8s/r-brms-plumber/deployment.yaml
  ops/k8s/r-brms-plumber/hpa.yaml
  ops/k8s/r-brms-plumber/networkpolicy.yaml
  ops/k8s/r-brms-plumber/service.yaml
  ops/k8s/r-forecast-plumber/deployment.yaml
  ops/k8s/r-forecast-plumber/hpa.yaml
  ops/k8s/r-forecast-plumber/networkpolicy.yaml
  ops/k8s/r-forecast-plumber/service.yaml
  ops/k8s/r-glmm-plumber/deployment.yaml
  ops/k8s/r-glmm-plumber/hpa.yaml
  ops/k8s/r-glmm-plumber/networkpolicy.yaml
  ops/k8s/r-glmm-plumber/service.yaml
  ops/k8s/r-irt-plumber/deployment.yaml
  ops/k8s/r-irt-plumber/hpa.yaml
  ops/k8s/r-irt-plumber/networkpolicy.yaml
  ops/k8s/r-irt-plumber/service.yaml
  ops/k8s/r-plumber/deployment.yaml
  ops/k8s/r-plumber/kustomization.yaml
  ops/k8s/r-plumber/servicemonitor.yaml
  ops/k8s/seedtest-api/deployment.yaml
  ops/k8s/seedtest-api/hpa.yaml
  ops/k8s/seedtest-api/ingress.yaml
  ops/k8s/seedtest-api/networkpolicy.yaml
  ops/k8s/seedtest-api/pdb.yaml
  ops/k8s/seedtest-api/service.yaml
Labels: area:infra

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'
