Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

feat(week4): Add backend with performance optimizations and E2E tests
  backend/tests/websocket_client_demo.html
Labels: area:backend, area:testing

chore(test): Remove XSS vulnerable websocket demo file
  backend/tests/websocket_client_demo.html
Labels: area:backend, area:testing

fix(security): Upgrade Brotli and python-jose to fix CVEs
  backend/requirements.txt
Labels: area:backend

feat(week4): Add backend with performance optimizations and E2E tests (#78)
  backend/requirements.txt
Labels: area:backend

docs(security): Add JWT security hardening documentation for Week 5 Phase 2
  docs/JWT_SECURITY_HARDENING.md
Labels: area:infra, area:docs

docs(security): Add JWT security hardening documentation for Week 5 Phase 2 (#81)
  docs/JWT_SECURITY_HARDENING.md
Labels: area:infra, area:docs

feat(auth): Add OWASP-compliant password validation
  backend/app/schemas/user_schemas.py
  backend/tests/test_password_validation.py
  backend/tests/test_week4_priority3_e2e.py
Labels: area:backend, area:testing

feat(auth): Add OWASP-compliant password validation
  backend/app/schemas/user_schemas.py
  backend/tests/test_password_validation.py
  backend/tests/test_week4_priority3_e2e.py
Labels: area:backend, area:testing

docs: Add Copilot session history for Week 5 security work
  ops/maintenance/history/Copilot_251128.md
Labels: area:infra

chore: Add Copilot_* session notes to .gitignore
  .gitignore
  ops/maintenance/history/Copilot_251128.md
Labels: area:infra, area:config

docs: Add comprehensive file recovery guide
  ops/maintenance/FILE_RECOVERY_GUIDE.md
Labels: area:infra

fix(ci): Fix all 4 failing CI checks for PR #76
  shared/etl/__init__.py
  shared/etl/dreamseed_shared_etl.egg-info/PKG-INFO
  shared/etl/dreamseed_shared_etl.egg-info/SOURCES.txt
  shared/etl/dreamseed_shared_etl.egg-info/dependency_links.txt
  shared/etl/dreamseed_shared_etl.egg-info/requires.txt
  shared/etl/dreamseed_shared_etl.egg-info/top_level.txt
  shared/etl/shared_etl/mysql_to_postgres_hooks.py
  shared/mathml/tests/test_roundtrip.py
  tools/check-paths.mjs
Labels: area:testing

fix(ci): Resolve remaining CI failures for PR #76
  shared/etl/shared_etl/mysql_to_postgres_hooks.py
  shared/mathml/goldenset/goldenset.sample.bak.jsonl
  shared/mathml/goldenset/goldenset.sample.jsonl
  shared/mathml/node/snapshot.mjs
  shared/mathml/scripts/normalize_tex.py
Labels: none

fix(ci): Add ts-node devDependency for Jest TypeScript config
  pnpm-lock.yaml
  shared/editor/package.json
  shared/schemas/package.json
Labels: area:config

fix(ci): Add --legacy-peer-deps and vue devDep for CI builds
  .github/workflows/monorepo-ci.yml
  package-lock.json
  pnpm-lock.yaml
  shared/editor/node_modules/.bin/browserslist
  shared/editor/node_modules/.bin/jest
  shared/editor/node_modules/.bin/ts-jest
  shared/editor/node_modules/.bin/tsc
  shared/editor/node_modules/.bin/tsserver
  shared/editor/node_modules/@tiptap/core
  shared/editor/node_modules/@tiptap/pm
  shared/editor/node_modules/@tiptap/react
  shared/editor/node_modules/@tiptap/starter-kit
  shared/editor/node_modules/@tiptap/vue-3
  shared/editor/node_modules/@types/jest
  shared/editor/node_modules/@types/react
  shared/editor/node_modules/jest
  shared/editor/node_modules/react
  shared/editor/node_modules/ts-jest
  shared/editor/node_modules/typescript
  shared/editor/node_modules/vue
  shared/editor/package.json
Labels: area:infra, area:config, area:dependencies

fix(ci): Update workflows for governance branch compatibility
  .github/workflows/scope-guard.yml
  .github/workflows/shiny-admin-build.yml
Labels: area:infra

fix(ci): Filter non-existent files in code quality checks
  .github/workflows/ci.yml
Labels: area:infra

fix: Apply final Black formatting and fix pyproject.toml
  backend/app/api/routers/student_dashboard.py
  backend/app/api/routers/student_dashboard_hybrid.py
  backend/app/api/routers/student_dashboard_llm.py
  pyproject.toml
Labels: area:backend, area:config

fix: Correct string quotes in student dashboard files
  backend/app/api/routers/student_dashboard.py
  backend/app/api/routers/student_dashboard_hybrid.py
  backend/app/api/routers/student_dashboard_llm.py
Labels: area:backend

fix: Resolve unterminated string literals in student dashboard files
  backend/app/api/routers/student_dashboard_hybrid.py
  backend/app/api/routers/student_dashboard_llm.py
Labels: area:backend

fix: Apply Black formatting and fix backend pyproject.toml
  backend/app/api/routers/student_dashboard.py
  backend/app/api/routers/student_dashboard_hybrid.py
  backend/app/api/routers/student_dashboard_llm.py
  backend/pyproject.toml
Labels: area:backend

feat(auth): Implement Token Blacklist with Redis - Week 5 Phase 2 P2
  backend/app/core/jwt_strategy.py
  backend/app/core/redis_config.py
  backend/app/core/settings.py
  backend/app/services/token_blacklist.py
Labels: area:backend

test(auth): Add logout integration tests and enable token blacklist
  backend/app/core/users.py
  backend/tests/test_logout_integration.py
Labels: area:backend, area:testing

docs(auth): Add Token Blacklist documentation to README
  README.md
Labels: area:docs

refactor(auth): Apply Sourcery code quality improvements
  backend/app/core/jwt_strategy.py
  backend/tests/test_logout_integration.py
Labels: area:backend, area:testing

refactor(auth): Apply all Sourcery blocking issue fixes
  backend/app/core/jwt_strategy.py
  backend/tests/test_logout_integration.py
Labels: area:backend, area:testing

style: format Python files with Black
  backend/app/core/jwt_strategy.py
  backend/app/core/redis_config.py
  backend/app/core/settings.py
  backend/app/services/token_blacklist.py
  backend/tests/test_logout_integration.py
Labels: area:backend, area:testing

style: fix import sorting with isort
  backend/app/core/jwt_strategy.py
  backend/app/core/redis_config.py
  backend/app/core/users.py
  backend/app/services/token_blacklist.py
  backend/tests/test_logout_integration.py
  backend/tests/test_token_blacklist.py
Labels: area:backend, area:testing

config: update Sourcery configuration
  .sourcery.yaml
Labels: area:config

config: fix Pylance/Pyright Python path configuration
  backend/pyrightconfig.json
Labels: area:backend

config: relax Pyright type checking for tests
  backend/pyrightconfig.json
Labels: area:backend

fix: correct Sourcery configuration syntax
  .sourcery.yaml
Labels: area:config

test: add type ignore for mock Redis in test fixture
  backend/tests/test_token_blacklist.py
Labels: area:backend, area:testing

fix: add type ignore for Redis client in JWT strategy
  backend/app/core/jwt_strategy.py
Labels: area:backend

refactor: extract login+headers helper to reduce duplication
  backend/tests/test_logout_integration.py
Labels: area:backend, area:testing

chore: remove npm lockfiles (project uses pnpm)
  package-lock.json
  portal_front/package-lock.json
  shared/mathml/node/package-lock.json
Labels: area:frontend, area:config, area:dependencies

fix: resolve CI workflow warnings and code quality issues
  .github/workflows/ci.yml
  .sourcery.yaml
  backend/app/services/token_blacklist.py
Labels: area:backend, area:infra, area:config

feat(auth): Token Blacklist with Redis - Week 5 Phase 2 P2 (#86)
  .github/workflows/ci.yml
  .sourcery.yaml
  README.md
  backend/app/core/jwt_strategy.py
  backend/app/core/redis_config.py
  backend/app/core/settings.py
  backend/app/core/users.py
  backend/app/services/token_blacklist.py
  backend/pyrightconfig.json
  backend/tests/test_logout_integration.py
  backend/tests/test_token_blacklist.py
  package-lock.json
  portal_front/package-lock.json
  shared/mathml/node/package-lock.json
Labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:dependencies, area:testing

chore: preserve Phase 2 documentation and disable YAML validation warnings
  .vscode/settings.json
  PR_TOKEN_BLACKLIST.md
Labels: area:docs

docs: add Copilot_251129 session history (Week 5 Phase 2 P2)
  ops/maintenance/history/Copilot_251129
Labels: area:infra

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'
