Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

chore(db): auto-enable seed on STAGE=staging/dev via env.py (ALEMBIC_SEED)
  apps/seedtest_api/alembic/env.py
  apps/seedtest_api/alembic/versions/20251021_0003_seed_data.py
Labels: area:database

chore(ci): inject STAGE env (main=production, others=staging) for Alembic seed control
  .github/workflows/ci.yml
Labels: area:infra

chore(ci/db): add migration step with job-scoped STAGE override and DATABASE_URL support
  .github/workflows/ci.yml
  apps/seedtest_api/alembic/env.py
Labels: area:infra, area:database

chore(ci/db): split DB migrations into dedicated job; restrict by branch/label and changes
  .github/workflows/ci.yml
Labels: area:infra

feat(db): add useful indexes (exams.subject, sessions user+exam, responses question+answered_at)
  apps/seedtest_api/alembic/versions/20251021_0002_indexes_and_fks.py
  db/adaptive/schema_prod.sql
Labels: area:database

feat(cat): implement 3PL item selection (max Fisher) and MAP Bayesian theta update
  apps/seedtest_api/services/adaptive_engine.py
Labels: none

feat(cat): add item bank DB loader, real correctness via choices.is_correct, and batch MAP update
  apps/seedtest_api/services/adaptive_engine.py
Labels: none

feat(cat): extend item bank loader with subject/difficulty filters and random subsampling (K or p)
  apps/seedtest_api/services/adaptive_engine.py
  apps/seedtest_api/settings.py
Labels: none

feat(cat): add org_id and topic/tags filters to item bank loader (env-driven)
  apps/seedtest_api/services/adaptive_engine.py
  apps/seedtest_api/settings.py
Labels: none

feat(cat): auto-detect questions.tags type (text[] vs jsonb) and apply proper operator (&& or ?|)
  apps/seedtest_api/services/adaptive_engine.py
Labels: none

feat(cat): add TTL-based re-detection for questions.tags type (TAGS_KIND_TTL_SEC)
  apps/seedtest_api/services/adaptive_engine.py
  apps/seedtest_api/settings.py
Labels: none

feat(cat): support TTL=0 to re-detect tags type on every query; clarify setting semantics
  apps/seedtest_api/services/adaptive_engine.py
  apps/seedtest_api/settings.py
Labels: none

ci(seedtest): add DB-backed CI job; docs: dev tooling + pre-commit; fix: flake8/mypy; chore: typecheck Make target; meta: issue template for .gitignore cleanup
  .coverage
  .github/ISSUE_TEMPLATE/maintenance_gitignore_cleanup.yml
  .github/workflows/_node-ci.yml
  .github/workflows/ci.yml
  .github/workflows/examinee-frontend-storybook-pages.yml
  .github/workflows/examinee-frontend-unit.yml
  .github/workflows/frontend-e2e.yml
  .github/workflows/frontend-examinee-vercel.yml
  .github/workflows/infra-cloudrun-jobs.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  apps/seedtest_api/alembic/env.py
  apps/seedtest_api/requirements.txt
  apps/seedtest_api/services/adaptive_engine.py
  apps/seedtest_api/settings.py
  coverage.xml
  docs/PR_SEEDTEST_CI_UPDATE.md
  pyproject.toml
Labels: area:infra, area:docs, area:config, area:database

docs: add CONTRIBUTING with pre-commit instructions; docs(README): add pre-commit badge
  CONTRIBUTING.md
  README.md
Labels: area:docs

chore(gitignore): allow docs/**/*.md, .pre-commit-config.yaml, and apps/seedtest_api; keep heavy artifacts ignored
  .gitignore
Labels: area:config

chore(ops): add Env Audit workflow and local task for GCP ↔ Repo Vars ↔ GKE/WIF
  .github/workflows/env-audit.yml
  .vscode/tasks.json
  scripts/gcp/env_audit.sh
Labels: area:infra

chore(ops): enable reusable Env Audit via workflow_call
  .github/workflows/env-audit.yml
Labels: area:infra

chore(ops): add Env Audit launcher workflow on main to call reusable env-audit@ops/env-audit-setup
  .github/workflows/env-audit-launcher.yml
Labels: area:infra

chore(ops): Env Audit tolerates GCP_WIF_PROVIDER alias and normalizes provider var for auth
  .github/workflows/env-audit.yml
  scripts/gcp/env_audit.sh
Labels: area:infra

chore(ops): robust WIF detection (pool/subject or attribute.repository) and install jq in workflow
  .github/workflows/env-audit.yml
  scripts/gcp/env_audit.sh
Labels: area:infra

chore(ops): add Env Audit launcher workflow on main to call reusable env-audit@ops/env-audit-setup (#27)
  .github/workflows/env-audit-launcher.yml
Labels: area:infra

chore(ops): add Env Audit launcher workflow on main to call reusable env-audit@ops/env-audit-setup (#27)
  .github/workflows/env-audit-launcher.yml
Labels: area:infra

Add env_audit.sh script
  scripts/gcp/env_audit.sh
Labels: area:infra

Add documentation and VS Code task for env_audit.sh
  .vscode/tasks.json
  scripts/gcp/README.md
Labels: area:infra

Add env_audit.sh script (#28)
  .vscode/tasks.json
  scripts/gcp/README.md
  scripts/gcp/env_audit.sh
Labels: area:infra

Add env_audit.sh script (#28)
  .vscode/tasks.json
  scripts/gcp/README.md
  scripts/gcp/env_audit.sh
Labels: area:infra

k8s: add base manifests and recreate k8s-config-sync workflow (GKE WIF)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

gitignore: allow ops/k8s/**/*.yaml to be tracked; add base manifests (deployment, service, serviceaccount)
  .gitignore
  ops/k8s/base/deployment.yaml
  ops/k8s/base/kustomization.yaml
  ops/k8s/base/service.yaml
  ops/k8s/base/serviceaccount.yaml
Labels: area:infra, area:config

k8s: add base manifests and k8s-config-sync workflow (#29)
  .github/workflows/k8s-config-sync.yml
  .gitignore
  ops/k8s/base/deployment.yaml
  ops/k8s/base/kustomization.yaml
  ops/k8s/base/service.yaml
  ops/k8s/base/serviceaccount.yaml
Labels: area:infra, area:config

k8s: add base manifests and k8s-config-sync workflow (#29)
  .github/workflows/k8s-config-sync.yml
  .gitignore
  ops/k8s/base/deployment.yaml
  ops/k8s/base/kustomization.yaml
  ops/k8s/base/service.yaml
  ops/k8s/base/serviceaccount.yaml
Labels: area:infra, area:config

fix: add ops/k8s/overlays files to Git tracking
  ops/k8s/overlays/gke/config/seedtest-api-config.yaml
  ops/k8s/overlays/gke/kustomization.yaml
  ops/k8s/overlays/gke/patches/api-env-patch.yaml
  ops/k8s/overlays/gke/secrets/seedtest-api-jwt-externalsecret.yaml
Labels: area:infra, area:security

fix: add ops/k8s/overlays files to Git tracking (#30)
  ops/k8s/overlays/gke/config/seedtest-api-config.yaml
  ops/k8s/overlays/gke/kustomization.yaml
  ops/k8s/overlays/gke/patches/api-env-patch.yaml
  ops/k8s/overlays/gke/secrets/seedtest-api-jwt-externalsecret.yaml
Labels: area:infra, area:security

fix: add ops/k8s/overlays files to Git tracking (#30)
  ops/k8s/overlays/gke/config/seedtest-api-config.yaml
  ops/k8s/overlays/gke/kustomization.yaml
  ops/k8s/overlays/gke/patches/api-env-patch.yaml
  ops/k8s/overlays/gke/secrets/seedtest-api-jwt-externalsecret.yaml
Labels: area:infra, area:security

ci(k8s): install GKE auth plugin and kubectl in k8s-config-sync workflow
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): install GKE auth plugin and kubectl in k8s-config-sync workflow (#31)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): install GKE auth plugin and kubectl in k8s-config-sync workflow (#31)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): skip ExternalSecret apply when CRD is missing; make deploy resilient
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): skip ExternalSecret when CRD missing (#32)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

ci(k8s): skip ExternalSecret when CRD missing (#32)
  .github/workflows/k8s-config-sync.yml
Labels: area:infra

feat: add seedtest-api image build & push CI
  .github/workflows/build-seedtest-api.yml
Labels: area:infra

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'
