Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'

docs: add Phase 2 Security Hardening progress report
  backend/PHASE2_COMPLETION_REPORT.md
Labels: area:backend

refactor: organize Phase 2 documentation in ops/phase2/
  ops/phase2/README.md
  ops/phase2/docs/JWT_SECURITY_HARDENING.md
  ops/phase2/reports/PHASE2_COMPLETION_REPORT.md
  ops/phase2/reports/PR_TOKEN_BLACKLIST.md
  ops/phase2/tests/test_logout_integration.py
  ops/phase2/tests/test_password_validation.py
  ops/phase2/tests/test_token_blacklist.py
Labels: area:infra, area:testing

refactor: separate Phase 2 (IRT/CAT) from Security Hardening
  ops/phase2/README.md
  ops/phase2/implementation/ADAPTIVE_EXAM_ROUTER_IMPLEMENTATION.md
  ops/phase2/implementation/ITEM_MODELS_IMPLEMENTATION.md
  ops/phase2/tests/test_adaptive_exam_e2e.py
  ops/phase2/tests/test_exam_engine.py
  ops/security-hardening/README.md
  ops/security-hardening/docs/JWT_SECURITY_HARDENING.md
  ops/security-hardening/reports/PR_TOKEN_BLACKLIST.md
  ops/security-hardening/reports/SECURITY_HARDENING_REPORT.md
  ops/security-hardening/tests/test_logout_integration.py
  ops/security-hardening/tests/test_password_validation.py
  ops/security-hardening/tests/test_token_blacklist.py
Labels: area:infra, area:testing

docs: add homepage requirements based on Phase 2 (IRT/CAT)
  ops/phase2/HOMEPAGE_REQUIREMENTS.md
  ops/phase2/README.md
Labels: area:infra

fix: resolve test and tsconfig issues
  backend/tests/test_logout_integration.py
  portal_front/tsconfig.json
Labels: area:frontend, area:backend, area:testing

feat(auth): implement rate limiting for auth endpoints (P3)
  backend/app/api/routers/auth.py
  backend/app/core/rate_limiter.py
  backend/app/core/settings.py
  backend/app/dependencies/rate_limiting.py
  backend/app/middleware/auth_rate_limit.py
  backend/main.py
  backend/requirements.txt
  backend/tests/test_rate_limiting_integration.py
  ops/security-hardening/docs/RATE_LIMITING_DESIGN.md
Labels: area:backend, area:infra, area:testing

docs: add rate limiting documentation to README and PR template
  README.md
  ops/security-hardening/reports/PR_RATE_LIMITING.md
Labels: area:infra, area:docs

feat(auth): Token Blacklist with Redis - Week 5 Phase 2 P2 (#87)
  .vscode/settings.json
  PR_TOKEN_BLACKLIST.md
  backend/tests/test_logout_integration.py
  ops/maintenance/history/Copilot_251129
  ops/phase2/HOMEPAGE_REQUIREMENTS.md
  ops/phase2/README.md
  ops/phase2/implementation/ADAPTIVE_EXAM_ROUTER_IMPLEMENTATION.md
  ops/phase2/implementation/ITEM_MODELS_IMPLEMENTATION.md
  ops/phase2/tests/test_adaptive_exam_e2e.py
  ops/phase2/tests/test_exam_engine.py
  ops/security-hardening/README.md
  ops/security-hardening/docs/JWT_SECURITY_HARDENING.md
  ops/security-hardening/reports/PR_TOKEN_BLACKLIST.md
  ops/security-hardening/reports/SECURITY_HARDENING_REPORT.md
  ops/security-hardening/tests/test_logout_integration.py
  ops/security-hardening/tests/test_password_validation.py
  ops/security-hardening/tests/test_token_blacklist.py
  portal_front/tsconfig.json
Labels: area:frontend, area:backend, area:infra, area:docs, area:testing

feat(security): implement CVE monitoring and automated security scanning (P4)
  .github/dependabot.yml
  .github/workflows/security-scan.yml
  docs/security/weekly-report-2025-11-29.md
  ops/security-hardening/docs/CVE_MONITORING_DESIGN.md
  scripts/security/scan_dependencies.py
  scripts/security/weekly_report.py
Labels: area:infra, area:docs, area:security

feat(auth): Rate Limiting with slowapi - Week 5 Phase 2 P3 (#88)
  README.md
  backend/app/api/routers/auth.py
  backend/app/core/rate_limiter.py
  backend/app/core/settings.py
  backend/app/dependencies/rate_limiting.py
  backend/app/middleware/auth_rate_limit.py
  backend/main.py
  backend/requirements.txt
  backend/tests/test_rate_limiting_integration.py
  ops/security-hardening/docs/RATE_LIMITING_DESIGN.md
  ops/security-hardening/reports/PR_RATE_LIMITING.md
Labels: area:backend, area:infra, area:docs, area:testing

docs: add CVE monitoring PR documentation
  ops/security-hardening/reports/PR_CVE_MONITORING.md
Labels: area:infra

Update scripts/security/weekly_report.py
  scripts/security/weekly_report.py
Labels: area:infra, area:security

Update scripts/security/scan_dependencies.py
  scripts/security/scan_dependencies.py
Labels: area:infra, area:security

Update .github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Labels: area:infra

Update scripts/security/scan_dependencies.py
  scripts/security/scan_dependencies.py
Labels: area:infra, area:security

Update .github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Labels: area:infra

Update scripts/security/scan_dependencies.py
  scripts/security/scan_dependencies.py
Labels: area:infra, area:security

Update ops/security-hardening/reports/PR_CVE_MONITORING.md
  ops/security-hardening/reports/PR_CVE_MONITORING.md
Labels: area:infra

Update .github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Labels: area:infra

fix(security): remove python-jose to resolve CVE-2024-33663 (Critical)
  backend/requirements.txt
Labels: area:backend

feat(security): CVE Monitoring & Automated Security Scanning - Week 6 P4 (#89)
  .github/dependabot.yml
  .github/workflows/security-scan.yml
  docs/security/weekly-report-2025-11-29.md
  ops/security-hardening/docs/CVE_MONITORING_DESIGN.md
  ops/security-hardening/reports/PR_CVE_MONITORING.md
  scripts/security/scan_dependencies.py
  scripts/security/weekly_report.py
Labels: area:infra, area:docs, area:security

fix(security): remove python-jose to resolve CVE-2024-33663 (Critical) (#90)
  backend/requirements.txt
Labels: area:backend

fix(security): remove ecdsa from backend/requirements.txt
  backend/requirements.txt
Labels: area:backend

fix(security): update vite, tailwindcss to patch glob, esbuild, js-yaml CVEs
  apps/examinee-frontend/package.json
  pnpm-lock.yaml
Labels: area:config

fix(security): remove ecdsa from backend/requirements.txt (#111)
  backend/requirements.txt
Labels: area:backend

Update apps/examinee-frontend/package.json
  apps/examinee-frontend/package.json
Labels: none

fix(security): update npm packages to patch 3 CVEs (glob, esbuild, js-yaml) (#112)
  apps/examinee-frontend/package.json
  pnpm-lock.yaml
Labels: area:config
