Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'

docs: add verified gh api command to apply main branch protection (CodeQL + linear history + enforce admins)
  docs/GITHUB_ORG_REPO_CHECKLIST.md
Labels: area:infra, area:docs

fix(workflow): guard Slack webhook checks using env and wrap job-level if with expressions
  .github/workflows/pr-merge-notify.yml
Labels: area:infra

chore: stage and sync pending files on docs/branch-protection-cmd before remote switch
  .github/workflows/ci.yml
  .gitignore
  README.md
  ai_mathml_converter.py
  curriculum_classifier.py
  docker-compose.yml
  dreamseed-editor.service
  gpt_classification_system.py
  package.json
  pyproject.toml
  pyrightconfig.json
  question_display_api.py
  question_editor_quill.html
  real_ai_mathml_converter.py
  server.pid
  setup_openai_api.py
Labels: area:infra, area:docs, area:config, area:dependencies

docs: add verified gh api command to apply main branch protection (CodeQL + linear history + enforce admins) (#11)
  .github/workflows/ci.yml
  .github/workflows/pr-merge-notify.yml
  .gitignore
  README.md
  ai_mathml_converter.py
  curriculum_classifier.py
  docker-compose.yml
  docs/GITHUB_ORG_REPO_CHECKLIST.md
  dreamseed-editor.service
  gpt_classification_system.py
  package.json
  pyproject.toml
  pyrightconfig.json
  question_display_api.py
  question_editor_quill.html
  real_ai_mathml_converter.py
  server.pid
  setup_openai_api.py
Labels: area:infra, area:docs, area:config, area:dependencies

docs: add verified gh api command to apply main branch protection (CodeQL + linear history + enforce admins) (#11)
  .github/workflows/ci.yml
  .github/workflows/pr-merge-notify.yml
  .gitignore
  README.md
  ai_mathml_converter.py
  curriculum_classifier.py
  docker-compose.yml
  docs/GITHUB_ORG_REPO_CHECKLIST.md
  dreamseed-editor.service
  gpt_classification_system.py
  package.json
  pyproject.toml
  pyrightconfig.json
  question_display_api.py
  question_editor_quill.html
  real_ai_mathml_converter.py
  server.pid
  setup_openai_api.py
Labels: area:infra, area:docs, area:config, area:dependencies

ci: harden pipeline for current repo state (guards for missing files, non-blocking linters, remove duplicate header)
  .github/workflows/ci.yml
Labels: area:infra

ci: refactor conditional execution via step-level RUN_* env; remove job-level hashFiles; gate codecov upload
  .github/workflows/ci.yml
Labels: area:infra

feat/fix: address PR review - serialize dataclass results; add display_mode; tighten CORS; add FastAPI deps; safe confidence access; portable configs; ignore server.pid; CI test detection
  .github/workflows/ci.yml
  ai_mathml_converter.py
  curriculum_classifier.py
  dreamseed-editor.service
  gpt_classification_system.py
  pyproject.toml
  pyrightconfig.json
  question_display_api.py
  server.pid
Labels: area:infra, area:config

feat: add minimal auth dependency for write endpoints; add ai_client/enhanced_curriculum_standards shims for CI imports
  .github/workflows/ci.yml
  question_display_api.py
Labels: area:infra

refactor: make apps a tracked package; rename seedtest-api -> seedtest_api; add __init__.py
  apps/__init__.py
  apps/seedtest_api/__init__.py
  apps/seedtest_api/alembic/versions/20250101_0006_rls_helpers.py
  apps/seedtest_api/alembic/versions/20250101_0007_rls_backfill_indexes.py
  apps/seedtest_api/alembic/versions/20250101_0008_rls_enable_policies.py
  apps/seedtest_api/rls_context.py
  apps/seedtest_api/routers/__pycache__/reports.cpython-312.pyc
  apps/seedtest_api/routers/deps.py
Labels: area:database

db(rls): add verify script and README; whitelist db scripts and rls SQL; make scripts executable
  .gitignore
  db/rls/rls_policies.sql
  scripts/db/README.md
  scripts/db/apply_rls.sh
  scripts/db/rollback_rls.sh
  scripts/db/verify_rls.sh
Labels: area:infra, area:config, area:database

db(rls): re-apply RLS assets on top of latest main; whitelist scripts and SQL
  .gitignore
  db/rls/rls_policies.sql
  scripts/db/README.md
  scripts/db/apply_rls.sh
  scripts/db/rollback_rls.sh
  scripts/db/verify_rls.sh
Labels: area:infra, area:config, area:database

ci: remove duplicate top-level keys in workflow (fix invalid workflow error)
  .github/workflows/ci.yml
Labels: area:infra

PR-2: multitenancy RLS + SET LOCAL org context (attempts/responses/item_bank) (#13)
  .github/workflows/ci.yml
  .gitignore
  db/rls/rls_policies.sql
  scripts/db/README.md
  scripts/db/apply_rls.sh
  scripts/db/rollback_rls.sh
  scripts/db/verify_rls.sh
Labels: area:infra, area:config, area:database

PR-2: multitenancy RLS + SET LOCAL org context (attempts/responses/item_bank) (#13)
  .github/workflows/ci.yml
  .gitignore
  db/rls/rls_policies.sql
  scripts/db/README.md
  scripts/db/apply_rls.sh
  scripts/db/rollback_rls.sh
  scripts/db/verify_rls.sh
Labels: area:infra, area:config, area:database

ci: fix failing job by upgrading upload-artifact to v4 and upload-sarif to v3
  .github/workflows/ci.yml
Labels: area:infra

ci: align permissions (security-events), add concurrency, bump setup-python to v5
  .github/workflows/ci.yml
Labels: area:infra

ci: stabilize code-quality job (guard mypy, safe Codecov gating)
  .github/workflows/ci.yml
Labels: area:infra

ci: guard requirements.txt installs to prevent false failures; make deployment packaging resilient
  .github/workflows/ci.yml
Labels: area:infra

ci: exclude mock_api.py from Black/isort/Flake8 and harden Black extend-exclude in pyproject; avoid explicitly passing excluded files (PR #14)
  .github/workflows/ci.yml
  pyproject.toml
Labels: area:infra, area:config

ci: guard Docker build/test when Dockerfile is absent (skip in monorepo root)
  .github/workflows/ci.yml
Labels: area:infra

ci: stabilize Code Quality; skip Docker build when no Dockerfile
  .github/workflows/ci.yml
  pyproject.toml
Labels: area:infra, area:config

ci: stabilize Code Quality; skip Docker build when no Dockerfile
  .github/workflows/ci.yml
  pyproject.toml
Labels: area:infra, area:config

ci: permissions.security-events write + concurrency; setup-python v5; projects: add workflow_dispatch + concurrency; unignore workflows
  .github/workflows/projects-add-and-update.yml
  .gitignore
Labels: area:infra, area:config

ci(projects): skip gracefully when PROJECT_URL/PROJECTS_TOKEN missing
  .github/workflows/projects-add-and-update.yml
Labels: area:infra

docs: add Projects automation guide and unignore it
  .gitignore
  README_PROJECTS_AUTOMATION.md
Labels: area:docs, area:config

chore(ci): permissions, concurrency, setup-python v5 + projects workflow dispatch (#15)
  .github/workflows/projects-add-and-update.yml
  .gitignore
  README_PROJECTS_AUTOMATION.md
Labels: area:infra, area:docs, area:config

chore(ci): permissions, concurrency, setup-python v5 + projects workflow dispatch (#15)
  .github/workflows/projects-add-and-update.yml
  .gitignore
  README_PROJECTS_AUTOMATION.md
Labels: area:infra, area:docs, area:config

chore(events): harden publisher(ordering/session_id, jitter backoff, metrics) + Beam(BQ TZ/Runner v2/Storage Write API, DLQ wiring)
  .github/workflows/events-pipeline.yml
  apps/seedtest-api/events/publisher.py
  ops/dataflow/beam_pipeline.py
Labels: area:infra

feat(fe): add examinee-frontend scaffold with routes, store, auth middleware, api stubs; add pnpm workspace
  .github/workflows/pr-merge-checklist-comment.yml
  .gitignore
  portal_api/app/routers/export.py
Labels: area:backend, area:infra, area:config

feat(examinee): result page, componentization (ExamPage/QuestionCard/OptionList/Timer/ProgressBar), Zustand store extension, API wiring to internal routes
  .github/workflows/events-pipeline.yml
Labels: area:infra

feat(examinee+api): add FastAPI adaptive API scaffold, Next.js examinee UI with adaptive flow, i18n, tests; CI E2E workflow; fix events-pipeline conditions
  .github/workflows/events-pipeline.yml
  .github/workflows/frontend-e2e.yml
  .gitignore
Labels: area:infra, area:config

chore(api): add one-click scaffold script for SeedTest FastAPI
  scripts/init_seedtest_api_scaffold.sh
Labels: area:infra

Create SECURITY.md for security policy
  SECURITY.md
Labels: area:docs

feat(db): add PostgreSQL adaptive exam schema (dev DDL + initial data); ensure CI watches apps/seedtest-api/**
  .github/workflows/ci.yml
  .gitignore
  db/adaptive/choices.sql
  db/adaptive/exam_sessions.sql
  db/adaptive/exams.sql
  db/adaptive/initial_data.sql
  db/adaptive/organizations.sql
  db/adaptive/questions.sql
  db/adaptive/responses.sql
  db/adaptive/topics.sql
  db/adaptive/users.sql
Labels: area:infra, area:config, area:database

feat(db): add production adaptive schema (no drops/sample, with indexes)
  db/adaptive/schema_prod.sql
Labels: area:database

feat(db): add Alembic setup and initial migration for adaptive schema
  apps/seedtest_api/alembic.ini
  apps/seedtest_api/alembic/env.py
  apps/seedtest_api/alembic/versions/20251021_0001_init.py
  apps/seedtest_api/requirements.txt
Labels: area:database

feat(db): split migrations (0001 base tables, 0002 indexes & FKs)
  apps/seedtest_api/alembic/versions/20251021_0002_indexes_and_fks.py
Labels: area:database

feat(db): add seed data migration (0003) for adaptive schema
  apps/seedtest_api/alembic/versions/20251021_0003_seed_data.py
Labels: area:database

chore(db): make seed migration optional via -x seed=true (env-based split)
  apps/seedtest_api/alembic/versions/20251021_0003_seed_data.py
Labels: area:database
