Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'

docs: AI 콘텐츠 정책 (필터링 및 검열) 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: AI 행동 정책 (Cognitive Policy Layer) 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: AI 행동 정책 (Cognitive Policy Layer) 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 승인/워크플로 정책 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 승인/워크플로 정책 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 정책 계층 설계 및 구현 요청서 작성
  docs/POLICY_LAYER_DESIGN.md
  docs/POLICY_LAYER_IMPLEMENTATION_REQUEST.md
  infra/monitoring/alertmanager/SETUP_CREDENTIALS.md
Labels: area:infra, area:docs

docs: 정책 계층 설계 및 구현 요청서 작성
  docs/POLICY_LAYER_DESIGN.md
  docs/POLICY_LAYER_IMPLEMENTATION_REQUEST.md
  infra/monitoring/alertmanager/SETUP_CREDENTIALS.md
Labels: area:infra, area:docs

feat(governance): compile.py 업데이트 및 정책 번들 자동 생성
  governance/scripts/compile.py
  ops/k8s/governance/base/configmap-policy-bundle.yaml
Labels: area:infra

feat(governance): Rego 정책 검증 스크립트 추가
  governance/scripts/validate_rego.py
Labels: none

feat(governance): Add Phase 3 - Audit Logging Integration
  governance/backend/__init__.py
  governance/backend/audit_logger.py
  governance/backend/policy_client.py
Labels: none

docs(governance): Add comprehensive Phase 3 documentation and tests
  governance/backend/README.md
  governance/tests/test_audit_logger.py
Labels: area:testing

docs: Add System Layer architecture documentation
  docs/system_layer/README.md
Labels: area:infra, area:docs

docs: Add governance integration examples
  docs/system_layer/governance-integration/examples.md
Labels: area:infra, area:docs

docs: Add microservices architecture overview
  docs/system_layer/architecture/overview.md
Labels: area:infra, area:docs

docs: Add adaptive test engine (SeedTest) service documentation
  docs/system_layer/services/assessment-engine.md
Labels: area:infra, area:docs

docs: Add content management service documentation
  docs/system_layer/services/content-management.md
Labels: area:infra, area:docs

docs: Add analytics and reporting engine documentation
  docs/system_layer/services/analytics-engine.md
Labels: area:infra, area:docs

docs: Add AI tutor/conversational agent documentation
  docs/system_layer/services/ai-tutor.md
Labels: area:infra, area:docs

security: Add .env.prod and .env.production to .gitignore after history cleanup
  .gitignore
Labels: area:config

docs: Add additional services documentation (user management, auth, payment, external API)
  .gitignore
  docs/system_layer/services/additional-services.md
Labels: area:infra, area:docs, area:config

docs: Add system layer conclusion and comprehensive summary
  docs/system_layer/conclusion.md
Labels: area:infra, area:docs

docs: Add Phase 1 implementation guides (architecture, FastAPI, roadmap)
  docs/implementation/00-architecture-overview.md
  docs/implementation/01-fastapi-microservices.md
  docs/implementation/README.md
Labels: area:infra, area:docs

docs: Add Phase 2 implementation guides (IRT/CAT, Multi-tenancy RLS)
  docs/implementation/00-architecture-overview.md
  docs/implementation/01-fastapi-microservices.md
  docs/implementation/02-irt-cat-implementation.md
  docs/implementation/05-multi-tenancy-rls.md
  docs/implementation/README.md
Labels: area:infra, area:docs

docs: Add Phase 3 implementation guides (Knowledge Graph, AI Tutor, Async Tasks, Stripe, LTI, K8s, Security)
  docs/implementation/03-knowledge-graph-semantic-search.md
  docs/implementation/04-ai-tutor-llm.md
  docs/implementation/06-async-task-processing.md
  docs/implementation/07-stripe-payment.md
  docs/implementation/08-lti-integration.md
  docs/implementation/09-kubernetes-cicd.md
  docs/implementation/10-security-compliance.md
Labels: area:infra, area:docs

refactor: mock_api.py 마이그레이션 (49MB → 100KB)
  .gitignore
  backend/app/api/data/.gitkeep
  backend/app/api/question_api.py
Labels: area:backend, area:config

fix: Remove incompatible prepare-deployment job from CI
  .github/workflows/ci.yml
Labels: area:infra

fix: remove legacy prepare-deployment job from CI
  .envs/portal_front/.env.production
  .github/workflows/ci.yml
Labels: area:infra, area:security

fix: Completely fix .gitignore to NEVER ignore ops/, docs/, backend/ documentation
  .gitignore
  backend/API_GUIDE.md
  backend/PHASE1_COMPLETION_REPORT.md
  ops/phase0/SECURITY_SECRETS_GUIDE.md
Labels: area:backend, area:infra, area:config

docs: Restore ALL Phase 0, Phase 1, and ops/maintenance documentation
  ops/maintenance/ARCHITECTURE_MASTERPLAN.md
  ops/maintenance/AUTO_CLEANUP_STRATEGY.md
  ops/maintenance/CITY_ANALOGY.md
  ops/maintenance/COST_CRISIS_SOLUTION.md
  ops/maintenance/DISASTER_RECOVERY.md
  ops/maintenance/ELASTIC_SCALING_PLAN.md
  ops/maintenance/HYBRID_ARCHITECTURE.md
  ops/maintenance/INFRASTRUCTURE_BLUEPRINT.md
  ops/maintenance/SCALING_STRATEGY.md
  ops/phase0/CONSTRUCTION_COMPLETE.md
  ops/phase0/README.md
  ops/phase0/scripts/deploy_phase0.sh
  ops/phase0/scripts/healthcheck.sh
  ops/phase0/scripts/rollback_phase0.sh
  ops/phase0/scripts/setup_auth.sh
  ops/phase0/scripts/setup_backup.sh
  ops/phase0/scripts/setup_monitoring.sh
  ops/phase0/scripts/setup_ratelimit.sh
  ops/phase1/README.md
Labels: area:infra

docs: Restore 35 critical documentation files from git stash
  docs/AUTH_IMPLEMENTATION_GUIDE.md
  docs/AUTH_IMPLEMENTATION_SUMMARY.md
  docs/DEV_SYNC_GUARD.md
  docs/DREAMSEED_REFACTORED_SUMMARY.md
  docs/GCP_COST_ALERT_SETUP.md
  docs/GOVERNANCE_MONITORING_CHECKLIST.md
  docs/GOVERNANCE_MONITORING_DEPLOYMENT.md
  docs/GOVERNANCE_MONITORING_QUICKSTART.md
  docs/GOVERNANCE_ROUTE_ACTION_MAPPING.md
  docs/IDE_FILE_SYNC_TROUBLESHOOTING.md
  docs/IRT_DRIFT_CONTROL_GUIDE.md
  docs/IRT_DRIFT_IMPLEMENTATION_SUMMARY.md
  docs/IRT_DRIFT_MONITORING_GUIDE.md
  docs/IRT_DRIFT_NEXT_STEPS.md
  docs/K8S_MONITORING_GUIDE.md
  docs/K8S_MONITORING_SUMMARY.md
  docs/LLM_FINAL_SUMMARY.md
  docs/LLM_INTEGRATION_GUIDE.md
  docs/LLM_LANG_POLICY.md
  docs/LLM_ROUTING_PR_READY.md
  docs/LLM_SMART_ROUTING.md
  docs/MONITORING_VERIFICATION.md
  docs/PC_HOSTING_MIGRATION_PLAN.md
  docs/PNPM_LOCK_NOTE.md
  docs/POLICY_LAYER_DESIGN.md
  docs/POLICY_LAYER_IMPLEMENTATION_REQUEST.md
  docs/R_PLUMBER_INTEGRATION.md
  docs/SHINY_DASHBOARD_GUIDE.md
  docs/VITE_EXAMPLES.md
  docs/VITE_SETUP_GUIDE.md
  docs/WINDSURF_MIGRATION_GUIDE.md
  docs/WINDSURF_ONBOARDING.md
  docs/WINDSURF_QUICK_START.md
  docs/WORKSPACE_TROUBLESHOOTING.md
  docs/report-analysis-guide.md
Labels: area:infra, area:docs

docs: Restore docs/implementation/ - DreamSeed Technical Architecture (21 files, 24,920 lines)
  docs/implementation/00-architecture-overview.md
  docs/implementation/01-fastapi-microservices.md
  docs/implementation/02-irt-cat-implementation.md
  docs/implementation/03-knowledge-graph-semantic-search.md
  docs/implementation/04-ai-tutor-llm.md
  docs/implementation/05-multi-tenancy-rls.md
  docs/implementation/06-async-task-processing.md
  docs/implementation/07-stripe-payment.md
  docs/implementation/08-lti-integration.md
  docs/implementation/09-kubernetes-cicd.md
  docs/implementation/10-security-compliance.md
  docs/implementation/11-ux-frontend-architecture.md
  docs/implementation/12-ux-student-interface.md
  docs/implementation/13-ux-teacher-admin-console.md
  docs/implementation/14-ux-accessibility-performance.md
  docs/implementation/DATA_MODEL_API_INTEGRATION.md
  docs/implementation/GPT_FEEDBACK_ACTION_PLAN.md
  docs/implementation/GPT_REVIEW_REQUEST.md
  docs/implementation/INTEGRATED_EXECUTION_PLAN.md
  docs/implementation/README.md
  docs/implementation/RESEARCH_RESPONSE_SUMMARY.md
Labels: area:infra, area:docs

fix: remove legacy prepare-deployment job from CI (#77)
  .envs/portal_front/.env.production
  .github/workflows/ci.yml
Labels: area:infra, area:security

Update portal_front/apps/seedtest_api/jobs/compute_daily_kpis.py
  portal_front/apps/seedtest_api/jobs/compute_daily_kpis.py
Labels: area:frontend

Update scripts/production/rollback_attempt_view.sh
  scripts/production/rollback_attempt_view.sh
Labels: area:infra

fix(security): Upgrade FastAPI to 0.122.0 (CVE-2024-24762)
  backend/requirements.txt
Labels: area:backend

fix(security): Upgrade FastAPI to 0.122.0 (CVE-2024-24762)
  backend/requirements.txt
Labels: area:backend

fix(migrations): Add users table and resolve Alembic conflicts
  backend/alembic/versions/000_create_users_table.py
  backend/alembic/versions/001_create_platform_tables.py
  backend/alembic/versions/014_merge_multiple_heads.py
Labels: area:backend, area:database

fix(migrations): Add users table and resolve Alembic conflicts
  backend/alembic/versions/000_create_users_table.py
  backend/alembic/versions/001_create_platform_tables.py
  backend/alembic/versions/014_merge_multiple_heads.py
Labels: area:backend, area:database

fix(requirements): remove circular git dependency
  backend/requirements.txt
Labels: area:backend

chore(test): remove demo HTML triggering XSS warning
  backend/tests/websocket_client_demo.html
Labels: area:backend, area:testing
