Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

feat: add enterprise-grade maintenance automation
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labels-sync.yml
  .github/workflows/release-drafter.yml
  CODEOWNERS
  README.md
Labels: area:infra, area:docs

docs: add comprehensive operations and onboarding guides
  .github/SYSTEM_CHECK.md
  README.md
  docs/ONBOARDING_GUIDE.md
  docs/OPERATIONS_HEALTHCHECK.md
Labels: area:infra, area:docs

feat: add long-term health monitoring and automatic cleanup
  .github/workflows/monthly-report.yml
  .github/workflows/stale.yml
  README.md
  docs/OPERATIONS_HEALTHCHECK.md
Labels: area:infra, area:docs

feat: add enterprise-grade performance optimization and observability
  .github/workflows/ci-monorepo.yml
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  apps/portal_api_clean/app/routers/health.py
  packages/shared-telemetry/package.json
  packages/shared-telemetry/src/error-tracking.ts
  packages/shared-telemetry/src/health-check.ts
  packages/shared-telemetry/src/index.ts
  packages/shared-telemetry/src/performance.ts
  packages/shared-telemetry/src/web-vitals.ts
  packages/shared-telemetry/tsconfig.json
Labels: area:infra

feat: add SRE-level disaster recovery and tabletop exercises
  .github/ISSUE_TEMPLATE/incident.md
  .github/workflows/backlog-curation.yml
  .github/workflows/canary-release.yml
  .github/workflows/slo-monitoring.yml
  docs/DISASTER_RECOVERY.md
  docs/INCIDENT.md
  packages/shared-utils/src/index.ts
Labels: area:infra, area:docs

feat: add enterprise-grade cost monitoring and development velocity tracking
  .github/workflows/cost-monitoring.yml
  .github/workflows/monthly-report.yml
  .github/workflows/release-reliability.yml
  .github/workflows/security-audit.yml
Labels: area:infra

feat: add 12 core SRE metrics for data-driven operations
  .github/workflows/monthly-report.yml
Labels: area:infra

feat: add micro optimization system for data-driven improvements
  .github/ISSUE_TEMPLATE/micro-optimization.md
  README.md
  docs/MICRO_OPTIMIZATION_GUIDE.md
Labels: area:infra, area:docs

feat: complete data-driven operations with two-line monthly routine
  README.md
  docs/MONTHLY_OPERATIONS_BOOKMARK.md
  docs/OPTIMIZATION_CARD_TEMPLATE.md
Labels: area:infra, area:docs

Translate USExamsAdmissions page from Korean to English
  apps/portal_front/src/pages/guides/USExamsAdmissions.tsx
Labels: none

feat: Move pricing plans from homepage to dedicated pricing page
  .pre-commit-config.yaml
  apps/portal_front/src/App.tsx
  apps/portal_front/src/components/Header.tsx
  apps/portal_front/src/components/UserStatus.tsx
  apps/portal_front/src/contexts/LanguageContext.tsx
  apps/portal_front/src/pages/Home.tsx
  apps/portal_front/src/pages/Pricing.tsx
Labels: area:config

feat: Quill.js + ChemDoodle 통합 에디터 구현
  mock_api.py
  question_editor_quill.html
Labels: none

feat: 스크롤 문제 해결 및 .gitignore 개선
  .gitignore
  mock_api.py
  question_editor_quill.html
Labels: area:config

chore: 포괄적인 .gitignore 추가
  .gitignore
Labels: area:config

chore(ci): add PR merge Slack notify and post-merge runtime checklist workflows
  .github/workflows/pr-merge-checklist-comment.yml
  .github/workflows/pr-merge-notify.yml
  scripts/check-latest-runtime-stability-pr.sh
  scripts/list-checklist-workflow-runs.sh
Labels: area:infra

ci(checklist): guard job to pull_request events only
  .github/workflows/pr-merge-checklist-comment.yml
Labels: area:infra

ci(checklist): move conditions into step to avoid push-context failures
  .github/workflows/pr-merge-checklist-comment.yml
Labels: area:infra

ci(checklist): fix concurrency group for non-PR events
  .github/workflows/pr-merge-checklist-comment.yml
Labels: area:infra

chore(guard): add CODEOWNERS, Project v2 auto-add workflow, dependabot/codeql, templates, and org/repo checklist
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PROJECTS_BOARD_TEMPLATE.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/project-add.yml
  docs/GITHUB_ORG_REPO_CHECKLIST.md
Labels: area:infra, area:docs

ci(projects): auto-create DreamSeed Project v2 if missing; add success comments
  .github/workflows/project-add.yml
Labels: area:infra

chore(guard): add CODEOWNERS, Project v2 auto-add workflow, branch protection instructions (#4)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PROJECTS_BOARD_TEMPLATE.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/pr-merge-checklist-comment.yml
  .github/workflows/project-add.yml
  docs/GITHUB_ORG_REPO_CHECKLIST.md
Labels: area:infra, area:docs

chore(guard): add CODEOWNERS, Project v2 auto-add workflow, branch protection instructions (#4)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PROJECTS_BOARD_TEMPLATE.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/codeql.yml
  .github/workflows/pr-merge-checklist-comment.yml
  .github/workflows/project-add.yml
  docs/GITHUB_ORG_REPO_CHECKLIST.md
Labels: area:infra, area:docs

fix(workflow): use repository-projects: write permission (schema-compliant)
  .github/workflows/project-add.yml
Labels: area:infra

feat(workflow): add workflow_dispatch with manual add by issue/PR number
  .github/workflows/project-add.yml
Labels: area:infra

feat(workflow): add workflow_dispatch with manual add by issue/PR number
  .github/workflows/project-add.yml
Labels: area:infra

fix(workflow): clean up YAML, add workflow_dispatch, correct permissions and manual add step
  .github/workflows/project-add.yml
Labels: area:infra

fix(workflow): clean up YAML, add workflow_dispatch, correct permissions and manual add step
  .github/workflows/project-add.yml
Labels: area:infra

fix(workflow): tolerate user-owned repo by querying user projects first; fallback to org; robust ownerId resolution
  .github/workflows/project-add.yml
Labels: area:infra

fix(workflow): tolerate user-owned repo by querying user projects first; fallback to org; robust ownerId resolution
  .github/workflows/project-add.yml
Labels: area:infra

feat(workflow): make workflow_dispatch step self-sufficient (resolve/create project and comment on success)
  .github/workflows/project-add.yml
Labels: area:infra

feat(workflow): make workflow_dispatch step self-sufficient (resolve/create project and comment on success)
  .github/workflows/project-add.yml
Labels: area:infra

chore(test): add project verify file
  project_verify.txt
Labels: none

chore(workflow): allow optional secrets.PROJECTS_TOKEN for Projects API (fallback to GITHUB_TOKEN)
  .github/workflows/project-add.yml
Labels: area:infra

chore(test): add project verify file (#9)
  .github/workflows/project-add.yml
  project_verify.txt
Labels: area:infra

chore(test): add project verify file (#9)
  .github/workflows/project-add.yml
  project_verify.txt
Labels: area:infra

fix(workflow): skip Slack notify when webhook is unset; add manual trigger
  .github/workflows/pr-merge-notify.yml
Labels: area:infra

fix(workflow): skip Slack notify when webhook is unset; add manual trigger
  .github/workflows/pr-merge-notify.yml
Labels: area:infra

chore: notify workflow verification
  notify_check.txt
Labels: none

chore: notify workflow verification (#10)
  notify_check.txt
Labels: none

chore: notify workflow verification (#10)
  notify_check.txt
Labels: none

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'
