Repository dreamseedai/dreamseed_monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: area:frontend, area:backend, area:infra, area:docs, area:config, area:maintenance, area:dependencies, area:security, area:testing, area:database

.github/labeler.yml:

# PR Labeler Configuration
# Automatically labels PRs based on changed files

# Frontend changes
area:frontend:
  - 'portal_front/**'
  - 'frontend/**'

# Backend changes
area:backend:
  - 'portal_api/**'
  - 'backend/**'
  - 'api/**'

# Infrastructure changes
area:infra:
  - '.github/**'
  - 'scripts/**'
  - 'docs/**'
  - 'ops/**'

# Documentation changes
area:docs:
  - '*.md'
  - 'docs/**'
  - 'README*'

# Configuration changes
area:config:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.gitignore'
  - '.pre-commit-config.yaml'

# Repository maintenance
area:maintenance:
  - 'POST_RENAME.md'
  - 'scripts/check-repo-strings.sh'
  - 'scripts/setup-pre-commit.sh'

# Dependencies
area:dependencies:
  - 'requirements.txt'
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'
  - 'poetry.lock'
  - 'Pipfile'
  - 'Pipfile.lock'

# Security
area:security:
  - '**/secrets/**'
  - '**/.env*'
  - '**/auth/**'
  - '**/security/**'

# Testing
area:testing:
  - '**/test/**'
  - '**/tests/**'
  - '**/*_test.py'
  - '**/*.test.js'
  - '**/*.spec.js'
  - '**/__tests__/**'

# Database
area:database:
  - '**/migrations/**'
  - '**/alembic/**'
  - '**/*.sql'
  - '**/schema/**'

feat(governance): ArgoCD-integrated Kustomize deployment
  docs/GOVERNANCE_ROUTE_ACTION_MAPPING.md
  infra/argocd/apps/internal/seedtest-api-governance.yaml
  ops/k8s/governance/README.md
  ops/k8s/governance/base/compiled/policy_bundle_phase0.json
  ops/k8s/governance/base/compiled/policy_bundle_phase1.json
  ops/k8s/governance/base/compiled/policy_bundle_prod.json
  ops/k8s/governance/base/deployment.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/base/networkpolicy.yaml
  ops/k8s/governance/base/patch.env-and-mount.yaml
  ops/k8s/governance/base/patch.reload-rbac.yaml
  ops/k8s/governance/base/service.yaml
  ops/k8s/governance/base/servicemonitor.yaml
  ops/k8s/governance/kustomization.yaml
  ops/k8s/governance/overlays/dev/kustomization.yaml
  ops/k8s/governance/overlays/phase0/kustomization.yaml
  ops/k8s/governance/overlays/phase0/phase0-patch.yaml
  ops/k8s/governance/overlays/phase1/kustomization.yaml
  ops/k8s/governance/overlays/phase1/phase1-patch.yaml
  ops/k8s/governance/overlays/prod/kustomization.yaml
  ops/k8s/governance/overlays/prod/prod-patch.yaml
  ops/k8s/governance/overlays/staging/kustomization.yaml
Labels: area:infra, area:docs

fix(governance): finalize deployment configuration
  ops/k8s/governance/DEPLOYMENT_RUNBOOK.md
  ops/k8s/governance/base/patch.env-and-mount.yaml
Labels: area:infra

fix(governance): finalize deployment configuration
  ops/k8s/governance/DEPLOYMENT_RUNBOOK.md
  ops/k8s/governance/base/patch.env-and-mount.yaml
Labels: area:infra

feat(governance): production-ready patch and validation script
  ops/k8s/governance/VALIDATION_CHEATSHEET.sh
  ops/k8s/governance/base/patch.env-and-mount.yaml
Labels: area:infra

feat(governance): production-ready patch and validation script
  ops/k8s/governance/VALIDATION_CHEATSHEET.sh
  ops/k8s/governance/base/patch.env-and-mount.yaml
Labels: area:infra

refactor(governance): simplify to single deployment.yaml without patches
  ops/k8s/governance/base/deployment.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/overlays/prod/kustomization.yaml
  ops/k8s/governance/overlays/staging/kustomization.yaml
Labels: area:infra

refactor(governance): simplify to single deployment.yaml without patches
  ops/k8s/governance/base/deployment.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/overlays/prod/kustomization.yaml
  ops/k8s/governance/overlays/staging/kustomization.yaml
Labels: area:infra

fix(governance): update service/networkpolicy/servicemonitor for seedtest-api
  ops/k8s/governance/base/networkpolicy.yaml
  ops/k8s/governance/base/service.yaml
  ops/k8s/governance/base/servicemonitor.yaml
Labels: area:infra

fix(governance): update service/networkpolicy/servicemonitor for seedtest-api
  ops/k8s/governance/base/networkpolicy.yaml
  ops/k8s/governance/base/service.yaml
  ops/k8s/governance/base/servicemonitor.yaml
Labels: area:infra

fix(governance): add prometheus release label to ServiceMonitor
  ops/k8s/governance/base/servicemonitor.yaml
Labels: area:infra

fix(governance): add prometheus release label to ServiceMonitor
  ops/k8s/governance/base/servicemonitor.yaml
Labels: area:infra

docs(governance): add comprehensive monitoring verification guide
  ops/k8s/governance/MONITORING_VERIFICATION.md
Labels: area:infra

docs(governance): add comprehensive monitoring verification guide
  ops/k8s/governance/MONITORING_VERIFICATION.md
Labels: area:infra

feat(governance): add comprehensive observability (PrometheusRule + Grafana)
  ops/k8s/governance/base/grafana-dashboard-configmap.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/base/prometheusrule.yaml
Labels: area:infra

feat(governance): add comprehensive observability (PrometheusRule + Grafana)
  ops/k8s/governance/base/grafana-dashboard-configmap.yaml
  ops/k8s/governance/base/kustomization.yaml
  ops/k8s/governance/base/prometheusrule.yaml
Labels: area:infra

refactor(governance): SLO-기반 PrometheusRule + 최적화된 Grafana 대시보드
  ops/k8s/governance/base/grafana-dashboard-configmap.yaml
  ops/k8s/governance/base/prometheusrule.yaml
Labels: area:infra

refactor(governance): SLO-기반 PrometheusRule + 최적화된 Grafana 대시보드
  ops/k8s/governance/base/grafana-dashboard-configmap.yaml
  ops/k8s/governance/base/prometheusrule.yaml
Labels: area:infra

docs(governance): 모니터링 검증 스크립트 + 빠른 참조 가이드
  ops/k8s/governance/MONITORING_QUICKREF.md
  ops/k8s/governance/monitoring-validation.sh
Labels: area:infra

docs(governance): 모니터링 검증 스크립트 + 빠른 참조 가이드
  ops/k8s/governance/MONITORING_QUICKREF.md
  ops/k8s/governance/monitoring-validation.sh
Labels: area:infra

feat(monitoring): Alertmanager 라우팅 설정 + Slack/PagerDuty 연동
  infra/monitoring/alertmanager/ALERTMANAGER_ROUTING_GUIDE.md
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/validate-alertmanager.sh
  ops/k8s/governance/base/networkpolicy.yaml
Labels: area:infra

feat(monitoring): Alertmanager 라우팅 설정 + Slack/PagerDuty 연동
  infra/monitoring/alertmanager/ALERTMANAGER_ROUTING_GUIDE.md
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/validate-alertmanager.sh
  ops/k8s/governance/base/networkpolicy.yaml
Labels: area:infra

refactor(monitoring): Alertmanager Secret 파일 마운트 방식 적용 (프로덕션 준비)
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr.yaml
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/setup-secrets.sh
  infra/monitoring/alertmanager/validate-alertmanager.sh
Labels: none

refactor(monitoring): Alertmanager Secret 파일 마운트 방식 적용 (프로덕션 준비)
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr.yaml
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/setup-secrets.sh
  infra/monitoring/alertmanager/validate-alertmanager.sh
Labels: none

feat(monitoring): Alertmanager 운영 마감 - Kustomize 패치 + 운영 런북
  infra/monitoring/alertmanager/OPERATIONS_RUNBOOK.md
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr-patch.yaml
  infra/monitoring/alertmanager/kustomization.yaml
Labels: none

feat(monitoring): Alertmanager 운영 마감 - Kustomize 패치 + 운영 런북
  infra/monitoring/alertmanager/OPERATIONS_RUNBOOK.md
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr-patch.yaml
  infra/monitoring/alertmanager/kustomization.yaml
Labels: none

docs(monitoring): Slack/PagerDuty 키 발급 완전 가이드 추가
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/SETUP_CREDENTIALS.md
Labels: none

docs(monitoring): Slack/PagerDuty 키 발급 완전 가이드 추가
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/SETUP_CREDENTIALS.md
Labels: none

feat(monitoring): add Prometheus metrics and Grafana dashboard
  apps/seedtest_api/app/main.py
  apps/seedtest_api/requirements.txt
  apps/seedtest_api/routers/prometheus_metrics.py
  docs/GOVERNANCE_MONITORING_DEPLOYMENT.md
  docs/GOVERNANCE_MONITORING_QUICKSTART.md
  docs/MONITORING_VERIFICATION.md
  infra/argocd/apps/monitoring/grafana-dashboard-seedtest.yaml
  infra/argocd/apps/monitoring/prometheus-rule-seedtest.yaml
Labels: area:infra, area:docs

feat(monitoring): add Prometheus metrics and Grafana dashboard
  apps/seedtest_api/app/main.py
  apps/seedtest_api/requirements.txt
  apps/seedtest_api/routers/prometheus_metrics.py
  docs/GOVERNANCE_MONITORING_DEPLOYMENT.md
  docs/GOVERNANCE_MONITORING_QUICKSTART.md
  docs/MONITORING_VERIFICATION.md
  infra/argocd/apps/monitoring/grafana-dashboard-seedtest.yaml
  infra/argocd/apps/monitoring/prometheus-rule-seedtest.yaml
Labels: area:infra, area:docs

docs(monitoring): add comprehensive deployment checklist
  docs/GOVERNANCE_MONITORING_CHECKLIST.md
Labels: area:infra, area:docs

docs(monitoring): add comprehensive deployment checklist
  docs/GOVERNANCE_MONITORING_CHECKLIST.md
Labels: area:infra, area:docs

refactor(alertmanager): PagerDuty 제거, Slack 전용 구성으로 단순화
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr-patch.yaml
  infra/monitoring/alertmanager/alertmanager-cr.yaml
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/setup-secrets.sh
  infra/monitoring/alertmanager/validate-alertmanager.sh
Labels: none

refactor(alertmanager): PagerDuty 제거, Slack 전용 구성으로 단순화
  infra/monitoring/alertmanager/README.md
  infra/monitoring/alertmanager/alertmanager-cr-patch.yaml
  infra/monitoring/alertmanager/alertmanager-cr.yaml
  infra/monitoring/alertmanager/alertmanager-secret.yaml
  infra/monitoring/alertmanager/setup-secrets.sh
  infra/monitoring/alertmanager/validate-alertmanager.sh
Labels: none

docs(alertmanager): Slack 전용 빠른 시작 가이드 추가
  infra/monitoring/alertmanager/QUICKSTART_SLACK.md
Labels: none

docs(alertmanager): Slack 전용 빠른 시작 가이드 추가
  infra/monitoring/alertmanager/QUICKSTART_SLACK.md
Labels: none

docs: 정책 계층(Policy Layer) 상세 설계 문서 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 정책 계층(Policy Layer) 상세 설계 문서 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 접근 제어 정책 및 다층 방어 전략 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: 접근 제어 정책 및 다층 방어 전략 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs

docs: AI 콘텐츠 정책 (필터링 및 검열) 상세 추가
  docs/POLICY_LAYER_DESIGN.md
Labels: area:infra, area:docs
